.social{
    position:fixed;
    left: 3rem;
    bottom: 6rem;
    font-size: 1.75rem;
    display: flex;
    flex-direction: column;
    color: var(--b-color);
    gap: 1rem;

}
.social::after{
    content: ' ';
    position: fixed;
    left:3.8rem;
    bottom: 0;
    width: 1px;
    height: 13%;
    background: linear-gradient(180deg,var(--b-color) ,transparent 100%);
}